@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary: 247, 231, 206;
  --color-primary: 255, 255, 255;
  --color-accent: 0, 0, 0;
  --color-green: 101, 106, 54;
  --soft-radius: 0.625rem;
}

.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  border-radius: var(--soft-radius);
}

.custom-button {
  border-radius: 9999px;
  background-color: rgb(var(--color-primary));
  padding: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

p,
span,
li {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

body {
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-secondary));
}

.title {
  font-size: 2.5rem;
  color: rgb(var(--color-green));
  text-align: center;
  align-items: center;
  justify-items: center;
  text-shadow: 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, 0.7);
}

.title-alt {
  font-size: 2.5rem;
  color: rgb(var(--color-primary));
  text-align: center;
  align-items: center;
  justify-items: center;
  text-shadow: 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, 0.7);
}

.subtitle {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin-bottom: 0.7rem;
}

.body-text {
  font-size: 1.25rem;
  color: black;
  text-align: center;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section {
  padding: 0.75rem;
  border-radius: var(--soft-radius);
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: var(--soft-radius);
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 37%;
  padding-left: 0.625rem;
  margin-bottom: 1rem;
}

.img-title {
  font-size: 2.5rem;
  color: rgb(var(--color-primary));
  text-align: center;
  align-items: center;
  justify-items: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

@media (max-width: 700px) {
  .img-title {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
  }
}

.button {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-green));
  border-radius: var(--soft-radius);
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
}

@media (max-width: 767px) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

.button:hover {
  transform: scale(1.1);
}

.image-title {
  position: absolute;
  bottom: 1rem; /* updated from 10px to 1rem */
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-50%);
  color: #fff;
  padding: 0.3125rem; /* reduced from 5px */
  border-radius: var(--soft-radius);
  max-width: calc(100% - 0.625rem); /* full width with padding */
  box-sizing: border-box;
  white-space: nowrap; /* prevents wrapping to next line */
  overflow: hidden;
  text-overflow: ellipsis; /* adds an ellipsis if the text is too long */
}

@media (max-width: 700px) {
  /* 700px in rem */
  .image-title {
    font-size: 0.875rem; /* smaller text on smaller screens */
    padding: 0.25rem; /* even smaller padding */
  }
}

.image-placeholder {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: var(--soft-radius);
}

.image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--soft-radius);
  margin: 0.625rem;
  transition: transform 0.3s ease-in-out;
}

.image1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--soft-radius);
  margin: 0.625rem;
  transition: transform 0.3s ease-in-out;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--soft-radius);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.image1:hover {
  transform: scale(1.1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(var(--color-secondary));
}

.gallery {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
  }
}

@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
  }
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: rgb(var(--color-primary), 0.85);
  color: rgb(var(--color-secondary));
  text-align: center;
}

.footer-top {
  margin-bottom: 1rem;
}

.footer-link,
.footer-social-link {
  color: rgb(var(--color-green));
  text-decoration: underline;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  font-size: 0.8rem;
  color: black;
  margin-top: 0.3rem;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--soft-radius);
  background-color: rgb(var(--color-primary), 0.85);
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-toggler {
  color: rgb(var(--color-green));
  align-items: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-close {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  color: rgb(var(--color-green));
  transition: color 0.4s;
}

.footer-link:hover,
.footer-social-link:hover,
.active-link {
  text-decoration: dashed underline;
  transform: scale(1.2);
}

.navbar-toggler:hover,
.button:hover,
.nav-link:hover {
  text-decoration: dashed underline;
  transform: scale(1.1);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--color-primary));
  color: black;
  border-bottom: 0.2rem solid black;
  position: absolute;
  z-index: 100;
  width: max-content;
  top: 98%;
  left: 30%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: var(--soft-radius);
  overflow-y: auto;
  max-height: 420px;
}

.dropdown-items {
  padding: 0.5rem;
  color: black;
  border-bottom: 0.1rem solid black;
  display: block;
  cursor: pointer;
  border-radius: var(--soft-radius);
}

.dropdown-items:hover {
  text-decoration: dashed underline;
  transform: scale(1.05);
  background-color: rgb(var(--color-secondary));
}

.icon-text {
  display: flex;
  align-items: center;
}

form {
  border: rgb(var(--color-green)) 0.125rem solid;
  background-color: var(--color-primary);
  border-radius: var(--soft-radius);
  padding: 2rem;
}

.label {
  display: block;
  color: #4a5568;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input,
.textarea {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 0.125rem solid rgba(var(--color-green));
  border-radius: var(--soft-radius);
  width: 50%;
  padding: 0.75rem;
  color: #4a5568;
  line-height: 1.25;
}

.horizontal-line {
  border-top: 0.1rem solid black;
  margin: 1rem 0;
}

.pricing-container {
  background-color: rgb(var(--color-green));
  padding: 3rem;
  text-align: center;
  border-radius: var(--soft-radius);
}

.pricing-column {
  padding: 1rem;
  border: 1px solid black;
  border-radius: var(--soft-radius);
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

@media (min-width: 480px) {
  /* md breakpoint */
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  /* lg-xl breakpoint */
  .grid1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pricing-list {
  list-style: disc;
  text-align: left;
  padding-left: 0.5rem;
  font-weight: 500;
}

.pricing-list li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: Black;
  font-weight: 500;
}

.carousel .slide img {
  width: 100%;
  height: auto;
  border-radius: var(--soft-radius);
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 100%;
}

.image-overlay1 {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}

.form-checkbox {
  width: 20px; /* Adjust as necessary */
  height: 20px; /* Adjust as necessary */
  min-width: 20px;
  min-height: 20px;
}

@media only screen and (max-width: 600px) {
  /* Adjust breakpoint as needed */
  .navbar-toggler,
  .navbar-close {
    padding: 15px; /* Increases touch area */
  }
  .form-checkbox {
    width: 24px; /* Larger on mobile */
    height: 24px;
    margin: .2rem;
  }
}
