@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-sage-green: 178, 172, 136;
  --color-secondary: 255, 255, 240;
  --color-primary: 213, 154, 173;
  --color-accent: 135, 206, 235;
  --soft-radius: 0.625rem;
}

p,
span {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}

body {
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-secondary));
}

/* Titles and Headers */
.title {
  font-size: 2.5rem;
  color: rgb(var(--color-secondary));
  text-align: center;
  align-items: center;
  justify-items: center;
}

.subtitle {
  font-size: 1.5rem;
  color: rgb(var(--color-primary));
  text-align: center;
  margin-bottom: 2rem;
}

/* Main Body Text */
.body-text {
  font-size: 1rem;
  color: black;
  text-align: center; /* Centers body text */
}

/* Screen Reader Only (Accessibility) */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Card Styles */
.card {
  align-items: center; /* Centers content horizontally */
  justify-content: center;
  background-color: rgb(var(--color-secondary));
  border-radius: var(--soft-radius); /* Use variable for border-radius */
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.section {
  padding: 4rem 1rem; /* Ample vertical padding for a minimalist look */
  text-align: center;
  border-radius: var(--soft-radius);
}
/* Images */
.image {
  border-radius: var(--soft-radius); /* Consistent border-radius */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-placeholder {
  width: 100%;
  height: 200px; /* Example height */
  background-color: #e0e0e0; /* Placeholder color */
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--soft-radius); /* Consistent border-radius */
}

/* Buttons */
.button {
  background-color: rgb(var(--color-accent));
  color: white;
  border-radius: var(--soft-radius); /* Consistent border-radius */
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

/* existing styles... */

/* Hover Effects */
.button:hover,
.image:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  transition: transform 0.3s ease-in-out;
}

/* Scroll Effects for Images */
.image {
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05); /* Move up slightly on hover */
}

.image-placeholder:hover {
  transform: scale(1.05); /* Grow effect on hover */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Already centers content vertically */
  min-height: 100vh; /* full screen height */
  background-color: rgb(var(--color-secondary));
}

/* Gallery Section */
.gallery {
  margin-bottom: 24px;
  /* Additional styles for gallery layout */
}

/* Services Section */
.services {
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
  margin-bottom: 24px;
  /* Responsive adjustments */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Service Card */
.service-card {
  padding: 24px;
  background-color: rgb(var(--color-secondary));
  border-radius: var(--soft-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Other card styles */
}

.footer {
  width: 100%;
  padding: 2rem; /* Increased padding for better spacing */
  background-color: rgb(var(--color-primary)); /* Ivory background */
  color: rgb(var(--color-secondary)); /* Light Lavender text */
  text-align: center;
  border: 0.125rem solid rgb(var(--color-secondary));
}

.footer-top {
  margin-bottom: 2rem; /* Spacing between top and bottom parts of the footer */
}

.footer-heading {
  font-size: 2.5rem; /* Larger size for prominence */
  color: rgb(var(--color-accent)); /* Gold color for the heading */
  margin-bottom: 1rem;
}

.footer-subtitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.footer-nav,
.footer-social {
  margin-top: 1rem; /* Spacing between navigation links/social media links and other content */
}

.footer-link,
.footer-social-link {
  color: black;
  margin: 1rem;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
}

.footer-link:hover,
.footer-social-link:hover {
  text-decoration: none;
  color: rgb(var(--color-accent));
}

.footer-bottom {
  font-size: 0.875rem; /* Smaller font size for the bottom part */
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--soft-radius);
  background-color: rgb(var(--color-primary), 0.8);
  position: sticky;
  top: 0;
  z-index: 50;
  margin-top: -12rem;
}

@media (min-width: 520px) {
  .header {
    margin-top: -21rem;
  }
}

.navbar-toggler {
  color: rgb(var(--color-secondary));
  align-items: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggler:hover {
  color: rgb(var(--color-accent)); /* Change to a different color on hover */
  text-decoration: underline; /* Change to a different color on hover */
}

.navbar-close {
  background: none; /* No background for the button */
  border: none; /* No border for the button */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  color: black; /* Icon color set to black */
  display: flex; /* Use flex to center the icon inside the button */
  align-items: center; /* Vertical alignment */
  justify-content: flex-end; /* Horizontal alignment */
}

.nav-link {
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: rgb(var(--color-secondary));
}

.nav-link:hover {
  color: rgb(var(--color-accent)); /* Change to a different color on hover */
  text-decoration: underline;
}

.header-image {
  position: relative;
  width: 30%; /* Set width to 30% of its container */
  height: 30%; /* Set height to 30% of its container */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
  overflow: hidden; /* This will ensure the border-radius affects the child image */
  border-radius: var(--soft-radius); /* Apply the soft radius */
}

.header-image img {
  display: block; /* Remove any default inline spacing */
  width: 100%; /* Set image width to 100% of its container */
  height: auto; /* Keep the image aspect ratio */
  max-height: 100%; /* Limit the image height to not exceed its container */
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: 0.25rem solid black; /* Light border */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  position: absolute;
  z-index: 1000;
  padding: 0;
  width: max-content;
  top: 100%; /* Position right below the parent element */
  left: 50%; /* Center align */
  transform: translateX(-50%);
  cursor: pointer; /* Adjust for center alignment */
  border-radius: var(--soft-radius);
}

.dropdown-items {
  padding: 0.5rem;
  margin: 0.25rem;
  text-decoration: none;
  color: black;
  border: 0.1rem solid black; /* Border between links */
  display: block; /* Ensure full width for each link */
  cursor: pointer; /* Cursor pointer on hover */
  border-radius: var(--soft-radius);
}

.dropdown-items:hover {
  background-color: gray;
  text-decoration: underline;
  color: rgb(var(--color-accent));
}

.sidebar-dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: 0.25rem solid black; /* Light border */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  position: absolute;
  z-index: 1000;
  padding: 0;
  width: max-content;
  top: 10%; /* Position right below the parent element */
  left: 130%; /* Center align */
  transform: translateX(-50%);
  cursor: pointer; /* Adjust for center alignment */
  border-radius: var(--soft-radius);
}