@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary: 255, 190, 152;
  --color-primary: 255, 255, 255;
  --color-accent: 0, 0, 0;
  --color-green: 158, 152, 116;
  --soft-radius: 0.625rem;
}
.logo {
  border-radius: var(--soft-radius);
}
.custom-button {
  border-radius: 9999px; /* equivalent to Tailwind's rounded-full */
  background-color: rgb(var(--color-primary));
  padding: 0.5rem; /* equivalent to Tailwind's p-2 */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

p,
span {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

body {
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-secondary));
}

/* Titles and Headers */
.title {
  font-size: 2.5rem;
  color: rgb(var(--color-primary));
  text-align: center;
  align-items: center;
  justify-items: center;
}

.subtitle {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Main Body Text */
.body-text {
  font-size: 1rem;
  color: black;
  text-align: center; /* Centers body text */
}

/* Screen Reader Only (Accessibility) */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Card Styles */

.section {
  padding: 4rem 1rem; /* Ample vertical padding for a minimalist look */
  text-align: center;
  border-radius: var(--soft-radius);
}
/* Images */
.banner-img {
  width: 100%;
  height: auto;
  border-radius: var(--soft-radius);
  object-fit: cover;
}

.image-overlay {
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Align vertically center */
  left: 0; /* Align to the left */
  transform: translateY(-50%); /* Adjust for exact vertical center */
  text-align: center; /* Align text to the left */
  width: 33.33%; /* Take the left third of the parent */
  padding-left: 1rem; /* Padding on the left */
  margin-bottom: 1rem;
}

.button {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-green));
  border-radius: var(--soft-radius);
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
  margin-top: 0.5rem;
}

.image-title {
  position: absolute;
  bottom: 10px; /* Adjust this value to control the distance from the bottom */
  left: 50%; /* Adjust this value to control the distance from the left */
  background-color: rgba(0, 0, 0, 0.7); /* Background color for the text */
  transform: translateX(-50%); /* Center horizontally */
  color: #fff; /* Text color */
  padding: 5px 10px; /* Padding around the text */
  border-radius: var(--soft-radius);
}

.image-placeholder {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: var(--soft-radius);
}

.image {
  width: 100%;
  padding-top: 100%; /* This makes the div a square */
  position: relative; /* Needed for absolute positioning inside */
  overflow: hidden; /* Hides the part of the image that overflows */
  border-radius: var(--soft-radius);
  margin: 0.75rem;
  transition: transform 0.3s ease-in-out;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the whole area */
  border-radius: var(--soft-radius);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1); /* Enlarges the entire image container */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  min-height: 100vh; /* Full screen height */
  background-color: rgb(var(--color-secondary));
}

.gallery {
  margin-bottom: 3rem;
}

/* Media Queries for responsive grid layout */
@media (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
  }
}

@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
  }
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: rgb(var(--color-primary), 0.8);
  color: rgb(var(--color-secondary));
  text-align: center;
}

.footer-top {
  margin-bottom: 1rem;
}

.footer-link,
.footer-social-link {
  color: rgb(var(--color-green));
  margin: 0.5rem;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
}

.footer-link:hover,
.footer-social-link:hover {
  text-decoration: none;
  color: rgb(var(--color-secondary-hover));
  transform: scale(1.1);
}

.footer-bottom {
  font-size: 0.875rem;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--soft-radius);
  background-color: rgb(var(--color-primary), 0.8);
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-toggler {
  color: rgb(var(--color-green));
  align-items: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggler:hover {
  color: rgb(var(--color-secondary-hover));
  transform: scale(1.1);
}

.navbar-close {
  background: none; /* No background for the button */
  border: none; /* No border for the button */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  color: black; /* Icon color set to black */
  display: flex; /* Use flex to center the icon inside the button */
  align-items: center; /* Vertical alignment */
  justify-content: flex-end; /* Horizontal alignment */
}

.nav-link {
  position: relative; /* Needed for pseudo-element positioning */
  display: inline-block; /* Allows the link to fit the content */
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  color: rgb(var(--color-green));
  transition: color 0.4s; /* Smooth transition for color change */
}

.button:hover,
.nav-link:hover {
  transform: scale(1.1);
  color: rgb(var(--color-secondary));
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--color-secondary));
  color: black;
  border: 0.125rem solid black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1000;
  width: max-content;
  top: 100%;
  left: 39%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: var(--soft-radius);
}

.dropdown-items {
  padding: 0.5rem;
  color: black;
  border-bottom: 0.1rem solid black;
  display: block;
  cursor: pointer;
  border-radius: var(--soft-radius);
}

.dropdown-items:hover {
  background-color: rgb(var(--color-secondary));
  transform: scale(1.1);
}

.sidebar-dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--color-secondary));
  color: black;
  border: 0.25rem solid black; /* Light border */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  position: absolute;
  z-index: 1000;
  padding: 0;
  width: max-content;
  top: 10%; /* Position right below the parent element */
  left: 130%; /* Center align */
  transform: translateX(-50%);
  cursor: pointer; /* Adjust for center alignment */
  border-radius: var(--soft-radius);
}
